@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --docs-background: var(--bg-secondary);
    --docs-foreground: var(--primary);
    --docs-card: var(--bg-primary);
    --docs-card-foreground: var(--primary);
    --docs-popover: var(--bg-primary);
    --docs-popover-foreground: var(--primary);
    --docs-primary: var(--primary);
    --docs-primary-foreground: var(--bg-primary);
    --docs-secondary: var(--border-secondary);
    --docs-secondary-foreground: var(--primary);
    --docs-muted: var(--border-secondary);
    --docs-muted-foreground: var(--secondary);
    --docs-accent: var(--border-secondary);
    --docs-accent-foreground: var(--primary);
    --docs-destructive: var(--critical);
    --docs-destructive-foreground: var(--bg-primary);
    --docs-border: var(--border-primary);
    --docs-input: var(--border-secondary);
    --docs-ring: var(--primary);
    --docs-radius: var(--component-border-radius);
  }

  .dark {
    --docs-background: var(--primary-900);
    --docs-foreground: var(--tertiary-0);
    --docs-card: var(--primary-800);
    --docs-card-foreground: var(--tertiary-0);
    --docs-popover: var(--primary-800);
    --docs-popover-foreground: var(--tertiary-0);
    --docs-primary: var(--tertiary-0);
    --docs-primary-foreground: var(--primary-900);
    --docs-secondary: var(--primary-800);
    --docs-secondary-foreground: var(--tertiary-0);
    --docs-muted: var(--primary-800);
    --docs-muted-foreground: var(--tertiary-300);
    --docs-accent: var(--primary-800);
    --docs-accent-foreground: var(--tertiary-0);
    --docs-destructive: var(--critical);
    --docs-destructive-foreground: var(--tertiary-0);
    --docs-border: var(--primary-700);
    --docs-input: var(--primary-700);
    --docs-ring: var(--tertiary-0);
  }

  body {
    background-color: var(--docs-background);
    color: var(--docs-foreground);
  }
}
