@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --docs-background: 0 0% 100%;
      --docs-foreground: 240 10% 3.9%;
      --docs-card: 0 0% 100%;
      --docs-card-foreground: 240 10% 3.9%;
      --docs-popover: 0 0% 100%;
      --docs-popover-foreground: 240 10% 3.9%;
      --docs-primary: 240 5.9% 10%;
      --docs-primary-foreground: 0 0% 98%;
      --docs-secondary: 240 4.8% 95.9%;
      --docs-secondary-foreground: 240 5.9% 10%;
      --docs-muted: 240 4.8% 95.9%;
      --docs-muted-foreground: 240 3.8% 46.1%;
      --docs-accent: 240 4.8% 95.9%;
      --docs-accent-foreground: 240 5.9% 10%;
      --docs-destructive: 0 84.2% 60.2%;
      --docs-destructive-foreground: 0 0% 98%;
      --docs-border: 240 5.9% 90%;
      --docs-input: 240 5.9% 90%;
      --docs-ring: 240 10% 3.9%;
      --docs-radius: 0.5rem;
   }

   .dark {
      --docs-background: 240 10% 3.9%;
      --docs-foreground: 0 0% 98%;
      --docs-card: 240 10% 3.9%;
      --docs-card-foreground: 0 0% 98%;
      --docs-popover: 240 10% 3.9%;
      --docs-popover-foreground: 0 0% 98%;
      --docs-primary: 0 0% 98%;
      --docs-primary-foreground: 240 5.9% 10%;
      --docs-secondary: 240 3.7% 15.9%;
      --docs-secondary-foreground: 0 0% 98%;
      --docs-muted: 240 3.7% 15.9%;
      --docs-muted-foreground: 240 5% 64.9%;
      --docs-accent: 240 3.7% 15.9%;
      --docs-accent-foreground: 0 0% 98%;
      --docs-destructive: 0 62.8% 30.6%;
      --docs-destructive-foreground: 0 0% 98%;
      --docs-border: 240 3.7% 15.9%;
      --docs-input: 240 3.7% 15.9%;
      --docs-ring: 240 4.9% 83.9%;
   }

   body {
      background-color: hsl(var(--docs-background));
      color: hsl(var(--docs-foreground));
   }
}